.PreFormRegistration {
    position: absolute;
    left: 50%;
    top: 50%;
    display: flex;
    justify-content: center;
    transform: translate(-50%,-50%);
    .registrationForm {
        border: solid 1px black;
        display: flex;
        position: relative;
        flex-wrap: wrap;
        min-width: 200px;
        width: 30vw;
        justify-content: center;
        box-shadow: 0px 0px 10px black;
        background-color: white;
        min-width: min-content;
        padding: 2rem;
        z-index: 999;
        top: 20px;

        h1 {
            width: 100%;
            padding: 1vh 0;
            text-align: center;
            color: rgba($color: #3bcaee, $alpha: 1);
        }

        .myInput {
            width: 90% !important;
            margin: 3vh 0;
        }

        button {
            width: 10vw;
            margin: 2vh 0;
        }

        .item{
            white-space: nowrap;
            font-weight: 500;
            color: rgba($color: #3bcaee, $alpha: 1);
        }
    }
}
